$primaryColor: #F24E1E;
$primaryColorLight: #f26f1e;
$primaryColorDark: #913e0c;

$secondaryColor: #1ef269;

$primaryGradientColor: #F24E1E;
$primaryGradientColorLight: #f26f1e;
$primaryGradientColorDark: #913e0c;

:export {
  primaryColor: $primaryColor;
  primaryColorLight: $primaryColorLight;
  primaryColorDark: $primaryColorDark;
  primaryGradientColor: $primaryGradientColor;
  primaryGradientColorLight: $primaryGradientColorLight;
  primaryGradientColorDark: $primaryGradientColorDark;
  secondaryColor: $secondaryColor;
}
